.d-flex {
  display: flex;
}



.admin-sidebar-container {
  flex: 0 0 200px;  /* Width of sidebar */
  min-height: 100vh;  /* Full height */
}

.container-fluid {
  /* flex-grow: 1; */
  padding-left: 15px;
}

.table {
  margin-top: 20px;
  width: 100%;
  table-layout: auto;
  overflow-x: auto;
  word-wrap: break-word;
}

.form-control {
  margin-bottom: 10px;
}